<%= render "menu" %>

<h1>Welcome to CHiPS</h1>
  <%= image_tag ("http://images.all-free-download.com/images/graphiclarge/bicycle_clip_art_15905.jpg") %> 

<br> 

  <%= link_to "See our bike chips!", bikes_path %>

<br> 
<br> 

  <%= image_tag ("http://images.clipartpanda.com/motorcycle-clipart-flat,550x550,075,f.jpg") %> 

<br> 

  <%= link_to "See our motorcycle chips!", motorcycles_path %>