<%= render "menu" %>

<h1> <%= @bike.name %> </h1>

<p>This bike is a <%= @bike.type %> that goes <%= @bike.speed %> miles per hour. </p>

<img src="http://images.all-free-download.com/images/graphiclarge/bicycle_clip_art_15905.jpg" /> 

<br>
<br>

<%= link_to "Back to the bikes", bikes_path %>

<br>
<br>

<%= link_to "Edit this bike", edit_bike_path(@bike) %> 

<br>
<br>

<%= link_to "Delete your bike!", :bike, method: :delete, data: { confirm: "Are you sure you want to erase this bike from the list?" } %> 