<%= render "menu" %>

<h1>Add a new motorcycle!</h1>

  <%= form_for @motorcycle do |f| %>
    <div>
      <%= f.label :name %> <%= f.text_field :name, :class => "input" %> 

      <br>
      <br>

      <%= f.label :type %> <%= f.text_field :type, :class => "input" %> 

      <br>
      <br>

      <%= f.label :speed %> <%= f.text_field :speed, :class => "input" %> 

      <br>
      <br>

      <%= f.submit "Add motorcycle!", :class => "button" %>
    </div>

<% end %>